.subBtn {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.subMenuName {
    cursor: pointer;
    text-decoration: none;
    color: #333;

    display: block;
    padding: 10px 15px;
    background-color: #f2f2f2;

    list-style-type: none;
    position: relative;
    background-color: #f2f2f2;
}

/* Coloca al submenu a la derecha */
.subMenuRight {
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 70%;
    left: 100%;
    background-color: #f2f2f2;
    box-shadow: 10px 10px 5px #ADD8E6;
}